/* 블럭 > 위치 > 좌표 > 사이즈 > 마진 > 패딩 */
div, p {
  /* default */
  overflow: visible;
  overflow-x: auto;
  overflow-y: auto;

  /* default */
  visibility: visible;
  /* visibility: hidden; 영역은 존재하나 안보이는 상태 */

  /* default */
  display: block;
  /* display: flex;   비율로 조정 */
  /* display: none;   아예 안보이는 상태 */

  /* default */
  position:static;
  /* 기준점 */
  /* position:relative; */
  /* 기준점 위 공중에 떠 있는 요소 */
  /* position:absolute; */
  /* 상단 또는 하단에 계속 고정 */
  /* position:fixed; */
  /* 컨텐츠의 길이에 따라 고정이 유동적으로 조절되는 요소 */
  /* position:sticky; */

  z-index: 100;

  top:0;
  right:0;
  bottom:0;
  left:0;

  width:100%;
  min-width:100%;
  max-width:100%;
  height:100%;
  min-height:100%;
  max-height:100%;

  margin:100px;
  /* margin: 100px 50px; */
  /* margin: 100px 50px 80px */
  /* margin: 100px 50px 80px 40px */
  /* margin-top:100px; */
  /* margin-right:50px; */
  /* margin-bottom:80px; */
  /* margin-left:40px; */
  /* width 값에 따라서 양쪽 여백을 자동으로 맞춰 가운데 정렬 */
  /* margin-right:auto; */
  /* margin-left: auto; */

  padding:100px;
  /* padding: 100px 50px; */
  /* padding: 100px 50px 80px */
  /* padding: 100px 50px 80px 40px */
  /* padding-top:100px; */
  /* padding-right:50px; */
  /* padding-bottom:80px; */
  /* padding-left:40px; */

  background-color: #000000;
  background-position: center;
  background-size: 100% 100%;

  /* border: width style color */
  border: 1px solid #000000;
  border-radius: 50%;

  /* center, left, right */
  text-align: center;
  color:#ffffff;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 20px;
  word-spacing: -0.5em;
}
span, ul li {
  /* default */
  display: inline;
}

.none {
  transform: none;
}
/* 요소의 위치를 이동 */
.translate {
  transform: translate(100px);
  /* transform: translate(100px, 100px); */
  /* transform: translateX(-100%); */
  /* transform: translateX(0); */
  /* transform: translateY(-100%); */
  /* transform: translateY(0); */
  /* transform: translate3d(0, 0, 0); */
  /* transform: translateZ(100px); */
}
/* 요소의 크기를 확대, 축소 */
.scale {
  transform: scale(2, 0.5);
  /* transform: scale(1.0);  default */
  /* transform: scale(2); */
  /* transform: scale3d(2, 0.5, 0.3); */
  /* transform: scaleX(2); */
  /* transform: scaleY(0.5); */
  /* transform: scaleZ(0.3); */
}
/* 요소를 회전 */
.rotate{
  transform: rotate(0.5turn);
  /*transform: rotate3d(1, 2.0, 3.0, 10deg);*/
  /* transform: rotateX(10deg); */
  /* transform: rotateY(10deg); */
  /* transform: rotateZ(10deg); */
}
/* 요소의 기울어짐을 반환 */
.skew{
  transform: skew(30deg, 20deg);
  /*transform: skewX(30deg);*/
  /*transform: skewY(20deg);*/
}
/* 요소에 원근감을 부여 (부모 요소에 적용함) */
.perspective {
  transform: perspective(17px);
}
/* perspective 를 제외한 모든 요소를 행렬로 표시 */
.matrix {
  transform: matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0);
}
/* 다중 적용 */
.transform {
  transform: translateX(100px) translateX(100px) scale(2.0) rotate(45deg);
}
/* Cross Browsing */
.transform {
  transform: translateX(100px) translateX(100px) scale(2.0) rotate(45deg);
  -webkit-transform: translateX(100px) translateX(100px) scale(2.0) rotate(45deg);
  -moz-transform: translateX(100px) translateX(100px) scale(2.0) rotate(45deg);
  -o-transform: translateX(100px) translateX(100px) scale(2.0) rotate(45deg)
}
