<!doctype html>
<html lang="en">
<head>
    <%- include ('./partials/common.ejs') %>
    <title>Verse - Main</title>
</head>
<body>
<%- include ('./partials/header.ejs') %>
<!--<h1>Verse - Main</h1>-->
<!--<main class="main" role="main">-->
<!--    Main-->
<!--</main>-->
</body>
</html>
